*.suo
*.user
_ReSharper.*
bin
obj
FakesAssemblies
App*Config
App*config
Web*config
app*config
web*config
/Consola
/DCServicio/App_Data
/packages
/DCAddIn/Service References/DCDataServicio/*
!/DCAddIn/Service References/DCDataServicio/Reference.datasvcmap
/DCAddIn/Service References/DCServicio/*
!/DCAddIn/Service References/DCServicio/Reference.svcmap
